html {
    margin: 0;
    padding: 0;
}
.App {
    width: 100vw;
    height: 100vh;
}

.App__sidebar {
    background: white;
}
.App__controls {
    position: absolute;
    z-index: 1000;
    bottom: .5rem;
    left: .5rem;
}
.ui.button.App__controls__button {}
.ui.button.App__controls__button--hidden {
    display: none;
}
